/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2014, 8:24:56 PM
    Author     : aleksander
*/

#menuPanel {
    width: 600px;
}

commandButton {
    width: 150px; 
    height: 30px
}